[submodule "Bloque 1/Desarrollo web entorno servidor/practica/JesLorLim-FormularioRepintado"]
	path = Bloque 1/Desarrollo web entorno servidor/practica/JesLorLim-FormularioRepintado
	url = https://www.github.com/Zarritas/JesLorLim-FormularioRepintado.git
